<main>
  <div class = "user-container">
    <div class = "user-picture-container">
     <img src="<%= @user.photo %>" alt="<%= @user.name %>">
    </div>
    <div class = "user-info">
      <p class = user-link> 
        <%= @user.name%>
      </p>
      <p class = user-detail> Number of post: <%= @user.posts.count %></p>
    </div>
  </div>
  <ul  class = "user-posts">
     <% @user.posts.each do |post| %>
        <li class = "post-container">
            <h2 class = "post-title">
              <%= link_to post.title, user_post_path(@user, post)%>
            </h2>
            <div> 
            <%= form_with(model: @like, url: user_post_likes_path(user_id: @user.id, post_id: post), method: :post) do |f| %>
            <%= f.submit 'Like' %>
            <% end %>
            </div>
              <%= link_to "Delete", user_post_path(@user, post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
            <div>
            </div>
            <p class = "post-content">
              <%= post.text %>
            </p>
            <div class = post-counters>
              <p >
              Comments: <%= post.comments.count %>,
              </p>
              <p>
                Likes: <%= post.likes.count %>
              </p>
            </div>
            <div >
                <% post.recent_comments.each do |comment| %>
              <p>
                <%= @user.name %>:
                 <%= comment.text %>
               <% end %>
              </p>
            </div>
        </li>
    <% end %>
  </ul>
  <div class="all-posts">
	  <button type="button" >Pagination</button>
  </div>
</main>

