<main>
  <div class = "post-detailed">
    <div>
      <p>
        <%= @post.title %>
        by <%= User.find(@post.author_id).name %>
      </p>
      <div class = "post-counters-detailed">
        <p >
          Comments: <%= @post.comments.count %>,
        </p>
        <p>
         Likes: <%= @post.likes.count %>
        </p>
      </div>
    </div>
    <p>
      <%= @post.text %>
    </p>
  </div>
  <div class = "post-comments">
    <% @post.comments.each do |comment| %>
    <li>
      <%= User.find(comment.author_id).name%>:
      <%= comment.text %>
      <% end %>
    </li>
  </div>
</main>