<main>
  <div class = "post-detailed">
    <div>
      <p>
        <%= @post.title %>
        by <%= User.find(@post.author_id).name %>
      </p>
      <div class = "post-counters-detailed">
        <p >
          Comments: <%= @post.comments.count %>,
        </p>
        <p>
         Likes: <%= @post.likes.count %>
        </p>
      </div>
    </div>
    <p>
      <%= @post.text %>
    </p>
    <div class="add-comment">
	    <button type="button" ><%= link_to "Add a comment", new_user_post_comment_path(@current_user, @post) %></button>
    </div>
  </div>
  <div class = "post-comments">
    <% @post.comments.each do |comment| %>
    <li>
      <%= comment.author.name%>:
      <%= comment.text %>
      <% end %>
    </li>
  </div>
</main>
